aiohttp==3.2.1
aniso8601==3.0.0
async-timeout==3.0.0
attrs==18.1.0
bson==0.5.5
certifi==2018.4.16
chardet==3.0.4
graphene==2.1
graphql-core==2.0
graphql-relay==0.4.5
idna==2.6
idna-ssl==1.0.1
mkl-fft==1.0.0
mkl-random==1.0.1
multidict==4.3.1
numpy==1.14.2
promise==2.1
pytango==9.2.2
python-dateutil==2.7.3
python3-taurus-core==3.4.0
pyzmq==17.0.0
Rx==1.6.1
six==1.11.0
typing==3.6.4
yarl==1.2.4
