body {
    font-family: Helvetica, Arial, Sans-Serif;
    background: #ddd;
}


.attribute {
    padding: 5px;
    background: white;
    border: 1px solid #bbb;
    margin: 3px;
}

.attribute.error {
    color: red;
}

.name {
    text-align: right;
}

.attribute.write .name {
    text-decoration: underline;
}

.value {
    font-size: 20px;
}

.value.number {
    width: 100px;
    text-align: right;
}

.value.state {
    text-align: center;
}

.value.ATTR_VALID {
    border-bottom: 3px solid #0f0;
}

.value.ATTR_INVALID {
    border-bottom: 3px solid red;    
}

.value.UNKNOWN {
    border-bottom: 3px solid #grey;    
}

input {
    text-align: right;
}

input.applied:focus {
    border: 2px solid black;
    /* background: #afa; */
}

input.unapplied:focus {
    border: 2px dashed black;
    /* background: #faa; */
}
