body {
    font-family: Helvetica, Arial, Sans-Serif;
    background: #ddd;
}

.attribute-list {
    width: 100%;
    border-collapse: collapse;
    overflow-x: hidden;
}

.attribute {
    
}

.attribute:nth-child(even) {
    background: #eee;
}

.attribute td {
    padding: 0 5px;
}

.attribute td.plot {
    width: 100%;
}

.attribute .label {
    text-align: right;
}

.attribute .value {
    width: 100%;
    text-align: right;
}

.attribute.error {
    color: red;
}

.name {
    text-align: right;
}

.attribute.write .name {
    text-decoration: underline;
}

.value {
    font-size: 20px;
    align: right;
    padding-bottom: -2;
}

.value.number {
    width: 100px;
    text-align: right;
}

.value.state {
    text-align: center;
}

.value.ATTR_VALID {
    border-bottom: 3px solid #0f0;
}

.value.ATTR_INVALID {
    border-bottom: 3px solid red;    
}

.value.UNKNOWN {
    border-bottom: 3px solid #grey;    
}

.value span {
    /* background: white; */
}

input {
    text-align: right;
}

input.applied:focus {
    border: 2px solid black;
    /* background: #afa; */
}

input.unapplied:focus {
    border: 2px dashed black;
    /* background: #faa; */
}


.attribute .plot-container {
    width: 100%;
}
               
