* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

#container {
    height: 100%;
}

#inner {
    height: 100%;
}

#main {
    position: relative;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#tree {
    background: white;
    overflow-y: scroll;
    padding: 0 5px;
    margin: 0;
    max-height: 100%;
}
