ul {
    margin-left: 10px;
    padding-left: 10px;
}

div.member.unexported {
    color: grey;    
}

div.attribute {
    white-space: nowrap;
}

.format-scalar {
    color: blue;
}

.format-spectrum {
    color: green;
}

.format-image {
    color: grey;
}
