ul {
    list-style: none;
    margin-left: 10px;
    padding-left: 10px;
}

li {
    white-space: nowrap;
}

span.member.unexported {
    color: grey;    
}

div.attribute {
    white-space: nowrap;
}

.format-scalar {
    color: blue;
}

.format-spectrum {
    color: green;
}

.format-image {
    color: grey;
}

ul li span.open::before {
    content: "▼";
    display: inline;
    padding-right: 5px;
    width: 50px;
}

ul li span.closed::before {
    content: "▶"; 
    display: inline;
    padding-right: 5px;
    font-size: smaller;
    width: 50px;
}
